body {
    background: #f4f5f7;
}
.error-container{
    background: #fff;
    border-radius: 10px;
}
.errorMessage{
    background-color: #fee;
    border: 1px solid #c00;
    box-shadow: 0 0 0 1px #c00;
}
.errorMessage span{
    font-size: 24px;
    margin: 40px 20px
}