.activeB{
    border-bottom: 4px solid #20c997;
}
.nav-item.top{
    margin-right: 1.5rem
}
.nav-item.top:hover{
    border-bottom: 4px solid #20c997;
}
#brand{
    width: 200px; text-align: center;color: #009688;font-size: 25px
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    /*z-index: 100;*/
    padding: 48px 0 0;
}
.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 47px; /* Height of navbar */
    height: calc(100vh - 47px);
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #393D49;
}

.sidebar li a{
    /*margin: 0 1rem;*/
    padding: 1rem 2rem;
    color: rgba(255,255,255,.5);
}

.sidebar-sticky ul li .supertype{
    border-left: 4px solid #393D49;
}
.sidebar-sticky ul li .supertype:hover{
    border-left-color:  #20c997;
    background: #5b5b5b;
}
.sidebar-sticky ul li .supertype.active{
    color: white;
    border-left-color: #20c997;
}
#sidebarMenu .caret{
    cursor: pointer;margin-top: 23px;margin-right: 15px;float: right
}

.sidebar .children:hover{
    background  : #5b5b5b;
}
.sidebar li a:hover{
    color: white;
}

.nav-item.children{
    padding-left: 1rem;
    border-left-color: #212529;
    background-color: #212529
}
.nav-item.children a.active{
   color: white;
}

.custom-button{
    width: 60px;
    margin-right: 10px;
}
dl{
    margin: 0;
    background-color: #212529;
    display: none;
}
dd{
    margin: 0;
}
#pagination{
    margin-top: 40px;
}
.addCursor {
    cursor: pointer;
}

#showPost .td_title{
    width: 220px;
}
#totalPost{
    margin-bottom: 10px;
    display: inline-block;
    float: right;
}
#totalPost span{
    display: inline-block;
    font-size: 20px;
    color:#ffc504;
}
#totalPost p{
    display: inline-block;
    font-size: 18px;
}
